.cv {
    max-width: 1024px;
    margin: auto;
}

// HEADER
// ------------

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.presentation {
    padding-right: 1rem;
    flex-basis: auto;
    flex-grow: 3;
    &__text{
        margin-bottom: 0;
    }
}

.contact-list {
    flex-basis: auto;
    flex-grow:2;
    justify-content: flex-end;
    &__item {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        width: max-content;
        text-align: center;
    }
}

.icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
}

// CONTENT
// ----------

.content{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.column--left {
    padding-right: 1rem;
    flex: 1;
    flex-grow: 5;
    // &__experience {
        
    // }
    // &__education {
    // }
       
    &__title {
        font-weight: bold;
    }
    &__date {
        font-style: italic;
        margin-left: 1rem;
    }
    &__place {
        font-weight: lighter;
    }
}

.column--right{
    flex: 2;
    flex-grow: 2;
}

.dot-line {
    border-bottom: dotted;
    border-color: gainsboro;
}

.dotbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    &__text {
        align-self: flex-start;
        flex-grow: 1;
    };
    &__dots {
            align-self: flex-start;
            flex-grow: 1;
        &__dot { 
            height: 15px;
            width: 15px;
            background-color: rgb(107, 110, 109);
            border-radius: 50%;
            display: inline-block;

            &--inactive {
                @extend .dotbar__dots__dot;
                background-color: #bbb;
            };
        };
    };
    &__procentage {
        align-self: flex-start;
        flex-grow: 1;
    };
}

.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    &__item {
        width: 4rem;
        height: auto;
    };
    &__icon {
        width: 100%;
        // height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__text {
            width: 100%;
            text-align: center;
            font-size: smaller;
            display: inline-block;
        }
    }
}

  