.cv {
    max-width: 1024px;
    margin: auto;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.presentation {
    padding-right: 1rem;
    flex-basis: auto;
    flex-grow: 3;
    &__text{
        margin-bottom: 0;
    }
}

.contact-list {
    flex-basis: auto;
    flex-grow:2;
    justify-content: flex-end;
    &__item {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        width: max-content;
        text-align: center;
    }
}



.icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
}

.m0 {
    margin: 0rem;
}

