.cv {
    max-width: 1024px;
    margin: auto;
}

// HEADER
// ------------

.header {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.presentation {
    padding-right: 1rem;
    flex-basis: auto;
    flex-grow: 3;
    &__text{
        margin-bottom: 0;
        padding-right: 1rem;
        text-align: justify;
    }
}

.contact-list {
    flex-basis: auto;
    flex-grow:2;
    justify-content: flex-end;
    &__item {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        width: max-content;
        text-align: center;
    }
}

.icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
}

.name {
    font-size: 3rem;
}

// CONTENT
// ----------

.content{
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.column--left {
    padding-right: 1rem;
    flex: 1;
    flex-grow: 5;
}

.role-header {       
    &__title {
        font-weight: bold;
        margin-bottom: 0.25rem;
        margin-top: 0.75rem;
        display: block;
    }
    &__date {
        font-style: italic;
        font-size: 0.9rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }
    &__place {
        font-weight: lighter;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    &--description {
        margin-left: 1rem;
        margin-bottom: 2rem;
        padding-right: 1rem;
        text-align: justify;
    }
}

.column--right{
    flex: 2;
    flex-grow: 2;
}

.section-header{
    border-bottom: dotted;
    border-color: gainsboro;
    padding-top: 1rem;
}

.dotbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    &__text {
        align-self: flex-start;
        flex-grow: 1;
        min-width: 6rem;
    };
    &__dots {
            align-self: flex-end;
        &__dot { 
            height: 15px;
            width: 15px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin:0.1rem;

            &--active {
                @extend .dotbar__dots__dot;
                background-color: rgb(107, 110, 109);
            };
        };
    };
}

.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    &__item {
        width: 4rem;
        height: auto;
    };
    &__icon {
        width: 100%;
        // height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__text {
            width: 100%;
            text-align: center;
            font-size: smaller;
            display: inline-block;
        }
    }
}

// .m0 {
//     margin:0.25rem;
// }

.ml05 {
    margin-left: 0.5rem;
}